{% extends "header.html" %}
{% load static %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}
{% block body_block %}
 <div class="container">
        <div class="profile-page tx-13">
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="profile-header">
                        <div class="cover">
                            <div class="gray-shade"></div>
                            <figure>
                                {% if profile_user.imgcover %}
                                <img src="/media/{{ profile_user.imgcover }}" class="img-fluid" alt="profile cover">
                                {% else %}
                                <img src="https://bootdey.com/img/Content/bg1.jpg" class="img-fluid" alt="profile cover">
                                {% endif %}
                            </figure>
                            <div class="cover-body d-flex justify-content-between align-items-center">
                                <div>
                                    <img class="profile-pic" src="/media/{{ profile_user.avatar }}" alt="profile">
                                    <span class="profile-name">{{profile_user.last_name}} {{profile_user.first_name}}</span>
                                </div>
                                <div class="d-none d-md-block">
                                    <button class="btn btn-primary btn-icon-text btn-edit-profile">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit btn-icon-prepend">
                                            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                        </svg> {% if request.user != profile_user %}
                                        {% if request.session.is_following %}
                                            <a style="color: white; text-decoration:none;" href="{% url 'app_social:follow_user' user_id=profile_user.id %}">Unfollow</a>
                                        {% else %}
                                            <a style="color: white; text-decoration:none;" href="{% url 'app_social:follow_user' user_id=profile_user.id %}">Follow</a>
                                        {% endif %}
                                    {% endif %}
                                    </button>
                                    
                                       
                                    {% if not profile_user.is_friend %}
                                    <button class="btn btn-primary btn-icon-text btn-edit-profile">
                                        
                                        <svg viewBox="0 0 24 24"  width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit btn-icon-prepend"  xmlns="http://www.w3.org/2000/svg">

                                            <path d="M17 10H20M23 10H20M20 10V7M20 10V13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> 
                                            <path d="M1 20V19C1 15.134 4.13401 12 8 12V12C11.866 12 15 15.134 15 19V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                             <path d="M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> 
                                        
                                        </svg>
                                    <span>
                                        <a style="color: white; text-decoration:none;" href="{% url 'app_social:send_friend_request' profile_user.username %}" class="btn_add">Add Friend</a>
                                    </span>
                                </button>
                                    {% else %}
                                   
                                    <span class="btn btn-secondary ">
                                        <p style="margin: 0;" >Already friend</p>
                                    </span>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="header-links">
                            <ul class="links d-flex align-items-center mt-3 mt-md-0">
                                <li class="header-link-item d-flex align-items-center active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns mr-1 icon-md">
                                        <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path>
                                    </svg>
                                    <a class="pt-1px d-none d-md-block" href="#">Timeline</a>
                                </li>
                               
                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users mr-1 icon-md">
                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    </svg>
                                    <a class="pt-1px d-none d-md-block" href="{% url 'app_social:user_profileFriends' profile_user.id %}">Friends </a>
                                </li>
                                <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users mr-1 icon-md">
                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    </svg>
                                    <a class="pt-1px d-none d-md-block" href="{% url 'app_social:user_profileFollowers' profile_user.id %}">Following </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row profile-body">
               
                <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
                    <div class="card rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="card-title mb-0">About</h6>
                            </div>
                            <p>{{profile_user.bio}}</p>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Joined:</label>
                                <p class="text-muted">{{profile_user.created_at}}</p>
                            </div>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Lives:</label>
                                <p class="text-muted">{{profile_user.lives}}</p>
                            </div>
                            <div class="mt-3">
                                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Website:</label>
                                <a href="{{userInfo.website}}" class="text-muted">{{profile_user.website}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-6 middle-wrapper">
                    <form action="{% url 'app_social:write_post' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="elements-form">
                            <input type="hidden" name="otherUser-name" value="{{profile_user.username}}">
                            <textarea class="form-control" name="content" rows="2" placeholder="What are you thinking?"></textarea>
                            <div class="mar-top clearfix">
                                <label for="fileInput" class="file-upload-label">
                                    <input type="file" id="fileInput" name="images" multiple>
                                    <i class="fa-solid fa-circle-plus"></i>
                                </label>
                                <label for="videoInput" class="file-upload-label">
                                    <input type="file" id="videoInput" name="videos" multiple>
                                    <i class="fa-solid fa-video"></i>
                                </label>
                                <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i>
                                    Share</button>
                            </div>
                        </div>
                        
                    </form>
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-md-12 grid-margin">
                            <div class="card rounded">
                                <div class="card-header">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="img-xs rounded-circle" src="/media/{{ post.author.avatar }}" alt="">
                                            <div class="ml-2">
                                                {% if post.author != profile_user %}
                                                <p style="font-weight: bold;">{{ post.author.last_name }} {{ post.author.first_name }} to {{profile_user.last_name}}{{profile_user.first_name}}</p>
                                                {% else %}
                                                <p style="font-weight: bold;">{{ post.author.last_name }} {{ post.author.first_name }} </p>
                                                {% endif %}
                                                
                                                <p class="tx-11 text-muted">{{ post.created_at }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% if request.user == post.author %}
                                    <div class="dropdown_">
                                        <button onclick="myFunction({{ post.id }})" class="dropbtn edit-button"
                                            data-post-id="{{ post.id }}">...</button>
                                        <div id="myDropdown-{{ post.id }}" class="dropdown-content">
                                            <a id="editButton" class="edit-link" href="#"
                                                data-post-id="{{ post.id }}">Edit</a>
                                            <a href="{% url 'app_social:delete_post' post.id %}?username={{profile_user.username}}">Delete</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="mb-3 tx-14">{{ post.content }}</p>
                                        <div class="video-container">
    
                                            {% for video in post.video.all %}
                                            <div class="video-wrapper">
                                                <video controls>
                                                    {% csrf_token %}
                                                    <source src="{{video.video.url}}" type="video/mp4">
                                                </video>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="layout-img">
                                            {% for image in post.images.all %}
                                            <img class="img-post" src="{{ image.image.url }}" alt="Img post">
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex post-actions">
                                            {% if post.liked == 'True' %}
                                            
                                            <a href="{% url 'app_social:like_Userpost' post.id %}?username={{profile_user.username}}"
                                                class="btn-like text-primary text-opacity-50 text-decoration-none d-block p-2"
                                                name="like_post_in_profile">
                                                {{post.likes.count}}<i
                                                    class="far fa-thumbs-up me-1 d-block d-sm-inline"></i> Likes </a>
                                            {% else %}
                                            <a href="{% url 'app_social:like_Userpost' post.id %}?username={{profile_user.username}}"
                                                class="btn-like text-body text-opacity-50 text-decoration-none d-block p-2"
                                                name="like_post_in_profile">
                                                {{post.likes.count}} <i
                                                    class="far fa-thumbs-up me-1 d-block d-sm-inline"></i> Likes </a>
                                            {% endif %}
                                            <a class="btn-comment" href="#" class="text-body text-opacity-50 text-decoration-none d-block p-2">
                                                <i class="far fa-comment me-1 d-block d-sm-inline"></i> Comment </a>
    
    
                                        </div>
    
    
                                    </div>
                                    <hr class="mb-3 mt-1 opacity-1" />
    
                                    {% if user.username %}
                                    {% for comment in comments %}
                                    {% if comment.post.id == post.id %}
                                    <div class="comment">
                                        <div class="avatar">
                                            <img src="{{comment.author.avatar.url}}" alt="User Avatar">
                                        </div>
                                        <div class="comment-content">
                                            <h6>{{comment.author.last_name}} {{comment.author.first_name}}</h6>
                                            <p class="content-comment">{{comment.content}}</p>
                                            <span class="timestamp">{{comment.created_at}}</span>
                                            <button class="reply-button">Reply</button>
                                            <!-- Vùng trả lời ẩn -->
                                            <div class="reply-form">
                                                <form action="{% url 'app_social:commentUserPost' post.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="comment_id" value="{{comment.id}}">
                                                    <input type="hidden" name="username" value="{{profile_user.username}}">
                                                    <textarea required class="reply-textarea" name="text"
                                                        placeholder="Nhập bình luận của bạn"></textarea>
                                                    <button class="submit-reply" type="submit"
                                                        name="reply_comment">Send</button>
                                                </form>
                                            </div>
                                            {% comment %} Edit comment {% endcomment %}
                                         {% if comment.author == user %}
                                         <button class="edit-button">Edit</button>
                                         <!-- Vùng trả lời ẩn -->
                                         <div class="reply-form">
                                             <form action="{% url 'app_social:commentPost' post.id %}" method="post">
                                                 {% csrf_token %}
                                                 <input type="hidden" name="comment_id" value="{{comment.id}}">
                                                 <textarea required class="reply-textarea" name="content" placeholder="Nhập bình luận của bạn">{{comment.content}}</textarea>
                                                 <button class="submit-reply" type="submit" name="edit_comment">Edit</button>
                                             </form>
                                         </div>
                                        {% endif %}
                                        {% if post.author == user or comment.author == user %}
                                        {% comment %} Delete comment {% endcomment %}
                                            <a href="{% url 'app_social:deleteComment' comment.id %}?username={{profile_user.username}}"><button class="delete-button">Delete</button></a>
                                        {% endif %}
                                        </div>
    
                                    </div>
                                    {% for reply in reply_comment_post %}
                                    {% if reply.comment.id == comment.id %}
                                    <div class="reply-comment">
                                        <div class="avatar">
                                            <img src="{{reply.author.avatar.url}}" alt="Reply User Avatar">
                                        </div>
                                        <div class="comment-content">
                                            <h6>{{reply.author.last_name}} {{reply.author.first_name}}</h6>
                                            <p class="content-comment">{{reply.text}}</p>
                                            <span class="timestamp">{{reply.created_at}}</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
    
    
                                    {% endif %}
                                    {% endfor %}
                                    <div class="d-flex align-items-center">
                                        <img src="/media/{{ request.user.avatar }}" alt="" class="rounded-image" />
                                        <div class="flex-fill ps-2">
                                            <form action="{% url 'app_social:commentUserPost' post.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="position-relative d-flex align-items-center">
                                                    <input type="hidden" name="username" value="{{profile_user.username}}">
                                                    <input required name="content" type="text"
                                                        class="form-control rounded-pill bg-white bg-opacity-15"
                                                        style="padding-right: 120px;" placeholder="Write a comment..." />
                                                    <button class="btn btn-primary btn_comment" type="submit"
                                                        name="add_comment">Comment</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="overlay" id="overlay" style="display: none;" overflow-y="auto"
                        data-post-id="{{ post.id }}">

                        <form action="{% url 'app_social:edit_post' post.id %}" method="POST"
                            enctype="multipart/form-data" display="block" class="editForm" class="editForm">
                            {% csrf_token %}
                            <h1>Chỉnh sửa bài viết</h1>
                            <input type="text" name="content" placeholder="Bạn đang nghỉ gì?">
                            <div class="layout-img">
                                {% for image in post.images.all %}
                            <img class="img-edit" src="{{ image.image.url }}" alt="Img">
                                {% endfor %}
                            </div>
                            <div class="layout-img">
                                {% for video in post.video.all %}
                                <div class="video-wrapper">
                                    <video controls>    
                                        {% csrf_token %}
                                        <source src="{{video.video.url}}" type="video/mp4">
                                    </video>
                                </div>
                                {% endfor %}
                            </div>
                            <label class="file-upload-label">
                                <input type="file" id="fileInput" name="images" multiple>
                                <i class="fa-solid fa-circle-plus"></i>
                            </label>
                            <button type="submit">Chỉnh sửa</button>
                            <button type="reset" id="close-overlay" class="close-overlay">Thoát</button>

                        </form>
                    </div>
    
                        {% endfor %}
                    </div>
                </div>

              
        </div>
        </div>  

{% endblock %}
{% block js_block %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/user_profile.js' %}"></script>
{% endblock %}