{% extends 'home.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/myBlogs.css' %}">
{% endblock %}
{% block body_block %}
<div class="post-list">
    {% for post in post %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p class="author">Người đăng: {{ post.author }}</p>
            <p class="created-at">Ngày tạo: {{ post.created_at }}</p>
            <p>
                <a href="{% url 'edit_post' post.id %}" class="edit-button">Chỉnh Sửa</a>
                <a href="{% url 'delete_post' post.id %}" class="delete-button">Xóa</a>
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}
